{% extends "base.html" %}

{% block title %} Home {% endblock %}
{% block content %}
        
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card corona-gradient-card">
          <div class="card-body py-0 px-0 px-sm-3">
            <div class="row align-items-center">
              <div class="col-4 col-sm-3 col-xl-2">
              </div>
              <div class="col-5 col-sm-7 col-xl-8 p-0 text-center">
                <h2 class="mb-1 mb-sm-0">Admin Permissions Page</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="row">
        <div class="col-12 grid-margin stretch-card">
          
            <div class="card-body py-0 px-0 px-sm-3">
              <div class="row align-items-center">
                <div class="col-4 col-sm-3 col-xl-2">
                </div>
                <div class="col-5 col-sm-7 col-xl-8 p-0 text-center">
                  <h1 class="mb-1 mb-sm-0">User Name</h1>
                </div>
              </div>
            
          </div>
        </div>
      </div>
      
      
      
    </div>
    <div class="row">
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Search Within:</h4>
            <div class="form-group">
              <label>Select which group to choose from</label>
              <select class="js-example-basic-single" style="width:100%">
                <option value="All" >All</option>
                <option value="Athletes">Athletes</option>
                <option value="Coaches">Coaches</option>
                <option value="Peak Members">Peak Members</option>
                <option value="Men's Ski">Men's Ski Team</option>
                <option value="Women's Ski">Women's Ski Team</option>
              </select>
            </div>
            
          </div>

          
        </div>
      </div>

      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Choose User:</h4>
            <div class="form-group">
              <select class="js-example-basic-single" style="width:100%">
                <option ></option>
                <option >Doe, Jane</option>
                <option >Smith, John</option>
              </select>
            </div> 
            <button type="submit" class="btn btn-primary mr-2">Remove User</button>
          </div>
        </div>
      </div>

      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Change Role:</h4>
            <div class="form-group">
              <select class="js-example-basic-single" style="width:100%">
                <option >Athlete</option>
                <option >Coach</option>
                <option >Peak Team</option>
                <option >Psychologist</option>
                <option >Atheltic Trainer</option>
                <option >Admin</option>
              </select>
              <h4></h4>
              <button type="submit" class="btn btn-primary mr-2">Submit</button>

            </div> 
            

            <h4 class="card-title">Change Permissions:</h4>
            <form>
              <div class="row">

                <div class="col-md-10">
                  <div class="form-group">
                    <div class="form-group">
                      <select class="js-example-basic-single" style="width:100%">
                        <option >Athlete</option>
                        <option >Team</option>
                        <option >Admin</option>

                      </select>

                    </div> 


                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input"> View Athlete/Team Data </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <p >Until: </p>
                          <div class="col-sm-9">
                            <input class="form-control" placeholder="dd/mm/yyyy" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input"> Add Athlete/Team Data </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <p >Until: </p>
                          <div class="col-sm-9">
                            <input class="form-control" placeholder="dd/mm/yyyy" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input"> Modify Athlete/Team Data </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <p >Until: </p>
                          <div class="col-sm-9">
                            <input class="form-control" placeholder="dd/mm/yyyy" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input"> Add reports </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <p style="display:inline;" >Until: </p>
                          <div class="col-sm-9">
                            <input class="form-control" placeholder="dd/mm/yyyy" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input"> Modify all data </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <p >Until: </p>
                          <div class="col-sm-9">
                            <input class="form-control" placeholder="dd/mm/yyyy" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                  </div>
                </div>

              </div>
            </form>
            
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add New User</h4>
            <form class="forms-sample">
              <div class="form-group">
                <label for="exampleInputName1">Name</label>
                <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
              </div>
              <div class="form-group">
                <label>Role</label>
                <div class="form-group">
                  <select class="js-example-basic-single" >
                    <option >Athlete</option>
                    <option >Coach</option>
                    <option >Peak Team</option>
                    <option >Psychologist</option>
                    <option >Atheltic Trainer</option>
                    <option >Admin</option>
                  </select>
                </div> 
              </div>
              
              
              <div class="form-group">
                <label>Teams: </label>
                <select class="js-example-basic-multiple" multiple="multiple" style="width:100%">
                  <option value="Men's Ski">Men's Ski Team</option>
                  <option value="Women's Ski">Women's Ski Team</option>
                </select>
              </div>
                
              
              
              <h1></h1>
              <button type="submit" class="btn btn-primary mr-2">Submit</button>
              <button class="btn btn-dark">Cancel</button>
            </form>
          </div>
        </div>
      </div>
      </div>

    </div>



  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
    </div>
  </footer>
  <!-- partial -->
</div>

{% endblock %}